:root {
    --fontSize: 12px
}
html, body{
     height: 100vh;
     overflow: hidden;
     color: white;
     font-size: var(--fontSize);
}

#mainContent {
    position: absolute;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    box-shadow: 0px 0px 40px 20px #0ff;
}
#bathroom {
    height: 100vh;
    width: auto;
    background-image: url('../../img/bathroom.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: auto 100%;
}

#mirrorimage canvas{
    width: auto!important;
    height: calc(100vh*7.5/10.4)!important;
    transform: scaleX(-1);
}

#overlay_panel{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    padding: 20px;
    height: 100%;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

/*timebox*/
#currentTime {
    font-size: calc(var(--fontSize)*3);
}