:root {
    --fontSize: 10px;
    --backcolor: #21212196;
}
html, body{
     height: 100vh;
     overflow: hidden;
     color: white;
     font-size: var(--fontSize);
}
/* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */

/* total width */
*::-webkit-scrollbar {
    background-color: transparent;;
    width:10px
}

/* background of the scrollbar except button or resizer */
*::-webkit-scrollbar-track {
    background-color:transparent;
}


/* scrollbar itself */
*::-webkit-scrollbar-thumb {
    background-color:#babac0;
    border-radius:10px;
}
*::-webkit-scrollbar-thumb:hover {
    background-color:#a0a0a5;
}

/* set button(top and bottom of the scrollbar) */
*::-webkit-scrollbar-button {display:none}


#mainContent {
    --light-color: #009de7;
    position: absolute;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    box-shadow: 0px 0px 40px 20px var(--light-color);
}
#bathroom {
    height: 100vh;
    width: auto;
    background-image: url('../../img/bathroom.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: auto 100%;
}
#mirrorimage {
    height: calc(100vh*7.5/10.4);
}
#mirrorimage canvas{
    width: auto!important;
    height: calc(100vh*7.5/10.4)!important;
}

#overlay_panel{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    padding: 20px;
    height: 100%;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
.grid-stack {
    min-height: 100%; /* avoid disapear grid*/
}
.grid-stack .griditem .grid-stack-item-content {
    overflow: visible;
}
.grid-stack-item-content .card-panel{
    padding: 5px;
    height:100%;
    margin-top: 0;
}
.grid-stack-item-content .card-panel.grey.darken-4{
    background-color: var(--backcolor) !important;
}
.griditem .row{
    margin:0;
}
.griditem iframe {
    width: 100%;
    height: 100%;
}

.dragIcon {
    padding: 5px;
    cursor: all-scroll;
    z-index: 99;
    position: absolute;
    right: 0;
    display: none;
}
.disable:hover .dragIcon {
    display: none;
}
.grid-stack-item-content:hover .dragIcon {
    display: unset;
}

.thumb {
    overflow: hidden;
    max-height: 30px;
}
#weatherIcon {
    /*margin-top: -1rem;*/
    /*margin-bottom: -0.5rem;*/
    font-size: 250%;
}

/*timebox*/
#currentTime {
    font-size: 300%;
}
#weatherTemperature {
    font-size: 150%;
}
#weatherTemperature:after{
    content: " \00b0 C";
    display: inline-block;
    margin-left: 2px;
}

/*https://codepen.io/Murtaxa/pen/egrRbN*/
.scroll-left {
    overflow: hidden;
    position: relative;
    height: 2rem;
}
.scroll-left p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 2rem;
    font-size: 2rem;
    text-align: center;
    white-space: nowrap;
    /* Starting position */
    -moz-transform:translateX(0%);
    -webkit-transform:translateX(0%);
    transform:translateX(0%);
    /* Apply animation to this element */
    -moz-animation: scroll-left 10s linear infinite;
    -webkit-animation: scroll-left 10s linear infinite;
    animation: scroll-left 10s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
    0% { -moz-transform: translateX(0%); }
    100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
    0% {
        -moz-transform: translateX(0%); /* Browser bug fix */
        -webkit-transform: translateX(0%); /* Browser bug fix */
        transform: translateX(0%);
    }
    100% {
        -moz-transform: translateX(-100%); /* Browser bug fix */
        -webkit-transform: translateX(-100%); /* Browser bug fix */
        transform: translateX(-100%);
    }
}
#musicPanel {
    width: 380px;
    height: 680px;
    -ms-zoom: 0.75;
    -moz-transform: scale(0.75);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.75);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.75);
    -webkit-transform-origin: 0 0;
}

.article {
    margin-bottom: 50px;
}
.timedisplay{
    font-size: 12px;
}
.collection {
    border: unset;
}
.collection .collection-item {
    border-radius: 2px;
    background-color: var(--backcolor);
    border-bottom: unset;
}
.collection .collection-item {
    margin-bottom: 5px;
}

#twitterPanel {
    height: 100%;
    overflow: auto;
}

.ui-widget-content {
    display: unset;
    position: absolute;
    top: 50%;
    left: 50%;
}

.ui-widget-content.disable{
    display: none;
}
.healthIcon {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: 2px solid white;
}
.healthIcon i {
    font-size: 15px;
}